<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学生注册</title>
    <link rel="stylesheet" href="../static/css/register.css">
</head>
<body>
    <h1>学生注册</h1>
    <form action="/student_register" method="post">
        <label for="stu_number">学号：</label>
        <input type="text" id="stu_number" name="stu_number" required><br>
        <label for="name">姓名：</label>
        <input type="text" id="name" name="name" required><br>
        <label for="age">年龄：</label>
        <input type="number" id="age" name="age" required><br>
        <label for="gender">性别：</label>
        <select id="gender" name="gender" required>
            <option value="">请选择</option>
            <option value="男">男</option>
            <option value="女">女</option>
        </select><br>
        <label for="degree">在读：</label>
        <select id="degree" name="degree" required>
            <option value="">请选择</option>
            <option value="本科生">本科生</option>
            <option value="研究生">研究生</option>
            <option value="博士生">博士生</option>
        </select><br>
        <label for="phone">电话号码：</label>
        <input type="text" id="phone" name="phone" required><br>
        <label for="password">密码：</label>
        <input type="text" id="password" name="password" required><br>
        <input type="submit" value="注册">
    </form>
    {% if message %}
        <p>{{ message }}</p>
    {% endif %}
</body>
</html>
